@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 20px 0;
}

header {
  
    margin-bottom: 50px;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header img {
    width: 130px;
}

.container {
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    
}

.links {
    display: flex;
}

.links a {
    text-decoration: none;
    margin: 0 10px;
}

.links a:visited {
    color: black;
    
}

.card-sup {
    display: flex;
    width: 100%;

}

.left {
    width: 50%;
    display: flex;
    flex-shrink: 1;
    align-items: center;
}
.card-text {
    box-sizing: border-box;  
}   

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin: 0 0 10px 0;  
}

.card-text p {
    margin-bottom: 10px;
}

.card-text input {
    padding: 0 10px;
    height: 30px;
    width: 350px;   
}

.card-text button {
    height: 5vh;
    width: 13vw;
    background-color: hsl(224, 93%, 58%);
    color: white;
    border: none;
    border-radius: 5%;
    box-shadow: 14px 2px 33px -6px rgba(0,0,0,0.75);
}

.card-img {
    width: 50%;
}

.card-img img {
    height: 100%;
    width: 100%;
}

.curve-img {
    margin-top: 120px;
    background-image: url(img/curve_desktop.svg);
    height: 100px;
    
}

.color-lightgray {
    background-color: #F8F8FE;
}

.card-text a {
    color: #92CAC0;
    display: flex;
    align-items: center;  
}

.card-text a::after {
    
    content: url(img/Button_green.svg);
}

.pre-footer {
    background-color: #575989;
    height: 300px;
    display: flex;
    align-items: center;
}

.pre-footer .container {
    display: flex;
}

.pre-footer .container .card-text {
    color: white;
    width: 50%;
}

.pre-footer .container .card-text p {
   
    padding-right: 150px;
    margin-top: 20px;
    font-size: 13px;
}

.pre-footer .container .card-text input {
    width: 90%;
    margin-bottom: 10px;
}

footer {
    padding: 40px 0;
    background-color: hsl(243, 87%, 12%);
    color: blanchedalmond;
}

.footer-box {

    color: #fff;
    
}

footer .footer-box img {
    margin: 10px auto;

}

.footer-lists {
	display: flex;
	align-items: center;
    justify-content: space-between;
    width: 100%;
    
}

.footer-lists  li{
    line-height: 25px;
}

.footer-lists .footer-list {
	list-style: none;
    font-size: 14px;
    
}

.footer-lists .footer-list li i {
    margin: 10px;
}
    
.social {
    display: flex;
}

.footer-lists .footer-list, .social {
	width: 25%;
}
 
.box {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 2px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
    margin-left: 10px;
}